<div class="ui center aligned container" style="padding-top: 5vh">

  <h1 class="ui header">Dong Hoon Park</h1>

  <div class="ui divider"></div>

  <p>
    Boost Clock은 수강신청과 티켓팅에 고통받는 모든 사람들을 위해서 만들었습니다.
    이 물건을 만들 수 있도록 영감을 준 권창영군에게 감사를 표하며, 필요한 사람들이 잘 써주었으면 합니다.
    Boost Clock은 네트워크 상황에 따라 이상동작을 할 수도 있지만, 유선상황에서는 대부분 매우 정확한 서버 시간을 찾아냅니다.
    잘 사용하셨고, 혹시나 개발자를 격려하고 싶다면 donghun94@gmail.com 으로 메일주시면 감사하겠습니다.
  </p>

  <p>
    Boost Clock은 Angular2로 작성되었고, 완전히 오픈소스입니다. 따라서 기술적인 개인적 문의는 정중히 사양하겠습니다.
    광고 또한 서버를 운영하는데 금전적으로 심각하게 지장이 있지 않은 한 받지 않을 예정입니다.
    코드를 보시려면 https://github.com/donghoonpark/boos_clock_client 와 https://github.com/donghoonpark/boost_clock_cors_proxy 두 repo를 참조해주세요.
    졸면서 쓴 코드도 많아서 난잡할 수도 있어 부끄럽지만 혹시 비슷한 application을 만들고 싶은 분은 참고하셔도 좋을 것 같습니다.
  </p>

  <div class="ui divider"></div>

  <sm-button class="blue" (click)="route('clock')">Clock</sm-button>
  <sm-button class="teal" (click)="route('donation')">Donation</sm-button>

</div>
